:root {
  font-size: 16px;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  color: whitesmoke;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: navy;
  padding: 15px 30px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

#login {
  font-size: 1.25rem;
  font-weight: bold;
}

dialog {
  margin-bottom: auto;
  margin-top: 105px;
  width: 270px;
  height: 300px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
}

#submit {
  margin-top: 40px;
  width: 140px;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 45px;
  background-color: rgb(44, 81, 174);
  border: none;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#submit:active {
  transform: scale(0.98); 
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

#new-book-btn {
  margin-bottom: 50px;
  width: 140px;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 45px;
  background-color: rgb(44, 81, 174);
  border: none;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#new-book-btn:active {
  transform: scale(0.98); 
}
